# Django Settings
# DEBUG=False
# SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,task.brri.gov.bd,180.211.163.243
CSRF_TRUSTED_ORIGINS=https://task.brri.gov.bd,http://localhost:5173,http://180.211.163.243
CORS_ALLOWED_ORIGINS=https://task.brri.gov.bd,http://localhost:5173,http://180.211.163.243
CORS_ALLOW_ALL_ORIGINS=False

# Frontend Settings (optional, overrides dynamic detection)
# VITE_API_URL=https://task.brri.gov.bd/api/v1/

# Email Configuration
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=agrometlabagendatracker@gmail.com
EMAIL_HOST_PASSWORD=1ceforall
DEFAULT_FROM_EMAIL=Agenda Tracker <agrometlabagendatracker@gmail.com>
